.type-work-photo-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 30px;
}

.type-work-photo-item {
    background-color: var(--clear-white);
    border: none;
    width: 370px;
}

/* Wise choice = using %
For instance:
.type-work-photo-item {
    width: calc((100% - 60px) /3);}
where 60px = 2(amount of margins = n-1) * 30px(margins)
*/

.type-work-container{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.type-work-photo-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.type-work-photo-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: var(--text-color);
    margin-top: 4px;
}

.type-work-photo-item .link{
    text-decoration: none;
    /* i need it for type-work-photo-link:hover and type-work-photo-link:focus*/
    display: block;
}

.type-work-photo-list .type-work-photo-link:hover,
.type-work-photo-list .type-work-photo-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.type-work-photo-list .type-work-photo-link{
    transition: box-shadow 250ms var(--type-of-show);
}

/* hidden description */
.type-work-photo-wrap{
    /* i need it for hidden description */
    position: relative;
    overflow: hidden;
}

.type-work-photo-description{
    position: absolute;
    top: 0;
    background: rgba(33, 150, 243, 0.9);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--clear-white);
    /* text-align: center; */
    padding: 63px 24px;
    transform: translateY(100%);
    /* transition: transform 250ms var(--type-of-show); */
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--type-of-show);
    /* but i can also use overflow: scroll; */
    overflow: auto;
    height: 100%;
}

.type-work-photo-item:hover .type-work-photo-description,
.type-work-photo-item:focus .type-work-photo-description{
    transform: translateY(0);
}